{% extends "template.html" %}
{% set active_page = 'projects' %}
{% block body %}

{% set projects = [("#midi", "Midi File Parser"), ("#synergi", "Synergi"), ("#music_maker", "Music Generator"), ("#discord_bot", "Discord Bot"), ("#rock_paper", "Rock Paper Scissors")] %}

<div class="content">
    <div class="content_title">Projects</div>
    <div class="toc">
        <div class="toc_title">Table of Contents</div>
        <div class="toc_c">
            {% for href, name in projects %}
                <a href="{{href}}">{{name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="content_body">
            <div id="midi">
                <div class="project_title">Midi File Parser</div>
                <div>
                    <div class="images">
                        <button class="button-left" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="button-right" onclick="plusDivs(+1)">&#10095;</button>
                        <img class="slideshow" src="static/images/midi_1.png"/>
                        <img class="slideshow" src="static/images/midi_2.png"/>
                        <img class="slideshow" src="static/images/midi_3.png"/>
                    </div>
                    <div class="text">
                        The Midi file Parser can read in a directory,
                        and after populating the gui with the .midi files,
                        can perform modifications on the song,
                        and can save the resulting song to the local computer.
                    </div>
                    <div class="text">
                        Behind the scenes, the midi file is parsed and loaded into
                        memory using linked lists and binary trees.
                    </div>
                    <div class="tech_title">Technologies Used:</div>
                    <div class="text">
                        C, Midi API, GTK+ graphics library
                    </div>
                </div>
            </div>
            <div id="synergi">
                <div class="project_title">Synergi</div>
                <a href="https://github.com/legalian/synergi">Github Repo</a>
                <div class="text">
                    Synergi is a real time collaborative code editor with GitHub integration.
                    The user can log into the website through GitHub, and after allowing api access to Synergi,
                    the user can import a project from GitHub into Synergi. This will allow them to use the in-built
                    code editor to edit any file in the imported repository in real time, at the same time as another user.
                    Each user can see the updates in real time and can commit/push the changes to back to the GitHub repository.
                </div>
                <div class="text">
                    Behind the scenes the file is synchronized in real time, with each change being verified to prevent
                    desynchronization between users. The files themselves are loaded onto a server-side database with all the
                    changes where they stay until they are pushed to GitHub.
                </div>
                <div class="text">
                    The website itself is a flask app hosted on Heroku. It is constructed using
                    Jinja templating and with a SQLAlchemy Database.
                </div>
                <div class="tech_title">Technologies Used:</div>
                <div class="text">
                    Python, SQLAlchemy, PostgreSQL, HTML/CSS, Javascript, Jinja
                </div>
            </div>
            <div id="music_maker">
                <div class="project_title">Music Generator</div>
                <a href="https://github.com/durbin3/music-maker">Github repo</a>
                <div class="text">
                    The Music Generator can take in a time signature, tonality, and length and generate a song
                    that follows music theory standards and has complex melody and rhythm. The inspiration for this project
                    came from wanting to create an algorithm that would be able to generate an improvised jazz solo that would
                    sound pleasing to hear.
                </div>
                <div class="text">
                    Behind the scenes the notes are generated using directed graphs and the rhythms are generated by
                    recursively subdividing trees.
                </div>
                <div class="tech_title">Technologies Used:</div>
                <div class="text">Java</div>
            </div>
            <div id="discord_bot">
                <div class="project_title">Discord Bot</div>
                <div class="text">
                    The Discord Bot is a smaller project where I created a program to parse the messages being sent
                    in my friends Discord chatroom and if one of the messages contains a reference to a movie we have seen,
                    the Bot will send a picture of the scene with the appropriate caption in the image.
                </div>
                <div class="tech_title">Technologies Used:</div>
                <div class="text">Javascript, Discord API</div>
            </div>
            <div id="rock_paper">
                <div class="project_title">Rock Paper Scissors</div>
                <div class="text">
                    The very first project I ever made, this is the game Rock, Paper, Scissors.
                    The player can play with one or two players in the browser. Super simple, but I couldn't leave it
                    out of my portfolio.
                </div>
                <div class="tech_title">Technologies Used:</div>
                <div class="text">Javascript, HTML/CSS</div>
            </div>
    </div>
</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("slideshow");
        if (n > x.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = x.length;
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>

{% endblock %}